<!DOCTYPE html>
<html lang="en">

** Base: (base.html) ** Header: (header.html)<br>
<head>
	<meta http-equiv = "X-UA-Compatible" content = "IE=9; IE=8; IE=7; IE=EDGE"/>
	<meta charset = "utf-8"/>
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<link href = "/static/css/bootstrap.min.css" rel = "stylesheet" type = "text/css"/>
	{% include 'base/header.html' %}
</head>
** End Header ** Body: ({{ view }})<br>
<body>
	<div id = "content">
		{% block body %}{% endblock %}
	</div>
</body>
** End Body ** Footer: (footer.html)<br>
<footer>
	{% include 'base/footer.html' %}<br>
</footer>
** End Footer ** End Base
</html>