<!DOCTYPE html>
<title>{% block title %}Learn Doc Films | {{ page_name }}{% endblock %}</title>
<div class = "container" style = "background-color: #ffff00;">
	<div class = "row">
		<div class = "jumbotron col-md-8 col-md-offset-2 text-center" style = "background-color: #ffff00;">
			<h1>Learning Documentary Filmmaking in NoHo<br><small>Meetup Website</small></h1>
		</div>
	</div>
	<div class = "row" >
		<div class = "col-md-8 text-left" style = "border:dashed 2px; background-color: #ffffff;">
			{% if user %}
				<h2>Welcome {{ user }}! <a href = "{{ url|safe }}">click here to {{ url_linktext }}</a> </h2>
			{% else %}
				<h2>Welcome! Please sign in: <a href = "{{ url|safe }}">click here</a></h2>
				Google Accounts Only - For now website works without sign in.<br><br>
			{% endif %}
		</div>
	</div>
</div>




